html {
  position: relative;
  min-height: 100%;
}

/* .landing {
  margin-bottom: 113px;
}
@media (min-width: 768px) { 
  .landing {
    margin-bottom: 57px;
  } 
} */

.fixed-footer {
  width: 100%;
  color: white;
  background-color: #343a40;
}
.fixed-footer p {
  margin-bottom: 0;
}
.fixed-footer a {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}

.promo-links {
  padding: 0px 10px 10px 10px;
}
@media (min-width: 768px) { 
  .promo-links {
    padding: 10px;
  }
}
.promo-links a {
  color: white;
  font-size: 25px;
  padding-right: 7px;
  padding-left: 7px;
}
.promo-links a:hover {
  color: rgba(255,255,255,.5);
}

.written-content {
  padding: 16px;
}